.lists-display  {
  background:rgba(500,500,500,0.6);
  color: #44391B;
  height: 500px;
}

.tasksdisplay {
  background:rgba(500,500,500,0.6);
  color: #44391B;
  height: 500px;
  display: none;
  margin: 0px 0px 0px 40px;
}

.done {
  text-decoration: line-through;
}

.list:hover {
  text-decoration: underline;
}

.list {
  cursor: pointer;
  color: #465EAC;
  font-weight: bold;
  font-size: 12pt;
}

.add-task {
  display: none;
}

h2 {
  text-decoration: underline;
}

body {
  background-image: url(img/garden.jpg);
  color: white;
  background-repeat: no-repeat;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
